.info-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    
    p {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    
    .add-result-btn {
      border-radius: 20px;
      background-color: purple;
      color: white;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      
      &:hover {
        background-color: #5a2d9d;
    
      }
      &:active{
        outline: none;
      }
    }
  }
  